
.vs/config/applicationhost.config
/.vs
/common/hch.enumextension/bin
/common/hch.enumextension/obj
/common/hch.global/bin
/common/hch.global/obj
/common/hch.webapiservice.factory/bin
/common/hch.webapiservice.factory/obj
/dba/hch.account.dba/obj
/dba/hch.account.dba/bin
/dba/hch.car.dba/obj
/dba/hch.car.dba/bin
/dbs/hch.account.dbs/obj
/dbs/hch.account.dbs/bin
/dbs/hch.car.dbs/bin
/dbs/hch.car.dbs/obj
/frame/hch.frame.runtime/obj
/frame/hch.frame.runtime/bin
/frame/hch.wechat.processor/bin
/frame/hch.wechat.processor/obj
/models/hch.datainit/obj
/models/hch.datainit/bin
/models/hch.definition/obj
/models/hch.definition/bin
/models/hch.model/bin
/models/hch.model/obj
/service/account/hch.account.api.models/obj
/service/account/hch.account.api.models/bin
/service/account/hch.account.apis/obj
/service/account/hch.account.apis/bin
/service/account/hch.account.ctrl/bin
/service/account/hch.account.ctrl/obj
/service/account/hch.account.service/obj
/service/account/hch.account.service/bin
/service/car/hch.car.api.models/obj
/service/car/hch.car.api.models/bin
/service/car/hch.car.api.models/obj
/service/car/hch.car.api.models/bin
/service/car/hch.car.apis/bin
/service/car/hch.car.apis/obj
/service/car/hch.car.ctrl/bin
/service/car/hch.car.ctrl/obj
/service/car/hch.car.service/bin
/service/car/hch.car.service/obj
/service/hch.webservice.api/obj
/service/hch.webservice.api/bin
/service/hch.webservice.api/Properties/PublishProfiles
/ui/hch.files/obj
/ui/hch.files/bin
/ui/hch.ui/obj
/ui/hch.ui/bin
/ui/hch.ui/Properties/PublishProfiles
